
body {
	margin: 10%;
	text-align: center;
	background-image: url(illumination.png);/*#40A9c0;*/
	background-repeat: no-repeat;
    background-position: left top;
	color: #f0f0f0;
}

h1 {
	font-family: Tahoma, Geneva, sans-serif;
}

.descrip {
	font-family: "Papyrus", cursive, sans-serif;
	margin-top: 0px;
	padding-top: 10px;
}

p {
	font-family: "Papyrus", cursive, sans-serif;
	margin-top: 50px;
}

@media (max-width: 730px) {
	
	body {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media (max-width: 600px) {

	.video {
		width: 320px;
		height: 300px;
	}

	#signature {
		width: 300px;
	}
}

@media (max-width: 400px) {

	.video {
		width: 280px;
		height: 250px;
	}
	
	#signature {
		width: 250px;
	}
}