
body {
	margin: 10%;
	text-align: center;
	background: #40A9c0;
	color: #f0f0f0;
}

h1 {
	font-family: Tahoma, Geneva, sans-serif;
}

.descrip {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

p {
	font-family: "Arial Black", Gadget, sans-serif;
	margin-top: 50px;
}